{% raw %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="all" />
    {% block extra_style %}{% endblock extra_style %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% if debug %}
        {% include 'includes/debug.html' %}
    {% endif %}
    {% block content %}{% endblock content %}
    <script type="text/javascript" src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block extra-scripts %}{% endblock extra-scripts %}
</body>
</html>
{% endraw %}
