{% raw %}
{% extends "base.html" %}
{% load static %}

{% block title %}index шаблонного проекта{% endblock %}

{% block extra_style %}
    {# локальные стили #}
    <style>
        h2 {
            color: #444;
            text-align:center;
            font-size: 22px;
            margin-top: 25%;
        }
        small {
            font-size: 14px;
            color: #888;
        }
    </style>
{% endblock extra_style %}

{% block content %}

<h2>index проекта django на базе шаблона <br /><small>от <a href="//owlman.net">owlman</a></small></h2>

{% endblock content %}

{% block extra-scripts %}
    {# локальные скрипты #}
{% endblock extra-scripts %}
{% endraw %}